.content {
  /* background-image: url("../images/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  width: 100%;
  height: 850px;
  position: relative;
}

.over {
  border: solid 2px blanchedalmond;
  border-radius: 10%;
  background-color: rgba(192, 192, 192, 0.3);

  padding: 100px;
  position: absolute;
  z-index: 100;
  top: 15%;
  left: 35%;
  text-align: center;
  font-size: 90px;
  display: none;
}

.over p {
  margin: 0;
  color: RED;
  opacity: 0.9;
  font-weight: bold;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 98.8%;
  display: flex;
}

.left {
  background-image: url("../images/bg1.jpg");
  border: chocolate solid 10px;
  width: 400px;
  height: 830px;
  text-align: center;
}

.score {
  color: burlywood;
  font-size: 50px;
  /* border: green solid 4px; */
  border-radius: 10px;
}

.ball {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  /* animation: drop 3s unset; */
}

.boom .jav {
  position: absolute;
  top: 35px;
  left: 48px;
}

.boom .vn {
  position: absolute;
  top: 101px;
}

.jav {
  position: absolute;
  top: 10px;
  left: 28px;
  font: small-caps bold 60px Georgia, serif;
}

.icon-start {
  font-size: 50px;
  margin-left: 80px;
  margin-top: -20px;
}

.vn {
  margin: auto calc(50% - 18px);
  position: absolute;
  top: 80px;
  font: small-caps bold 25px Georgia, serif;
}

.key {
  position: absolute;
  top: 430px;
  left: 30px;
  font-size: 50px;
  color: blue;
  background-color: burlywood;
  opacity: 0.8;
  border-radius: 10px;
  width: 300px;
  height: 100px;
}

.key p {
  position: relative;
  top: 18%;
  left: 0;
  margin: 0;
}

.arrow-area {
  position: relative;
  top: 160px;
  left: 0;
}

.menu {
  background-color: burlywood;
  opacity: 0.8;
  border-radius: 10%;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.speak {
  position: relative;
  top: 30%;
  left: calc(30% - 25px);
  width: 50px;
}

.speak img {
  width: 50px;
}

.ranking-off {
  display: none;
}
.default-rankings {
  position: relative;
  top: 10%;
  left: calc(70% - 25px);
  width: 50px;
}
.default-rankings img {
  width: 50px;
}
.rank h1 {
  color: yellow !important;
}
.arrow-img {
  width: 70px;
  height: 70px;
}

.new-game {
  position: relative;
  top: 40px;
  left: calc(50% - 40%);
  background-color: coral;
  border-radius: 10px;
  height: 50px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  /* color: white; */
}

.pause-resume {
  position: relative;
  top: 20%;
  left: calc(50% - 40%);
  width: 80%;
}

.pause {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

.resume {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

.turnOn {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

.turnOff {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

.boom {
  background-image: url("../images/boom.png");
  background-size: cover;
  width: 150px;
  height: 150px;
}

.form h1 {
  color: aliceblue;
  font-size: 30px;
}

.form {
  position: absolute;
  top: 30%;
  left: 45%;
  text-align: center;
  z-index: 500;
  width: 500px;
  height: 300px;
  background-color: burlywood;
  border-radius: 10%;
}

.form button {
  color: blue;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}
.form input {
  margin-top: 20px;
  width: 300px;
  height: 60px;
  font-size: 30px;
  text-align: center;
}
.rank {
  display: none;
  z-index: 501;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 800px;
  height: 500px;
  font-size: 30px;
  color: red;
  background-color: aqua;
  text-align: center;
  border-radius: 10%;
  border: brown 10px solid;
}
.rank th {
  padding: 10px 100px;
}
